*.un~
*.swp
tags
target
project/boot
.history
project.vim
*.old
.idea
.project
.classpath
.metadata/
/exercises/src/main/scala/fpinscala/.bsp/sbt.json
/exercises/src/main/scala/fpinscala/state/State.sc
/exercises/src/main/scala/fpinscala/laziness/Streams.sc
